body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.nav-bar-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}